<header id="myheader">
    <section id="logo">
      <a href="/" id="vltl">VLTL</a>
    </section>
    <section id="portfolio">
      <a href="{% url 'portfolio:portfolio' %}">Портфель</a>
    </section>
    <section id="stats">
      <a href="{% url 'statistics:statistics' %}">СтатАнализ Портфеля</a>
    </section>
    <section id="mark">
      <a href="{% url 'markowitz:markowitz' %}">МДС</a>
    </section>
  <section id="bl">
      <a href="{% url 'blacklitterman:blacklitterman' %}">Модель Блэка-Литтермана</a>
    </section>
</header>